@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap');






/* ~~~~~~~~~~~~~~~~~~~~RESET~~~~~~~~~~~~~~~~~~~~ */
:root{
    font-size: 16px;
    --primary: #F4F4F4;
    --content2: #f9faff;
    --content2-per-section: rgb(236 236 236);
}

*,*::after,*::before{
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

body,ul,h1,h2,h3,h4,h5,h6,p,figure{
    margin: 0;
    padding: 0;
    border: 0;
}
/* ~~~~~~~~~~~~~~~~~~~~RESET~~~~~~~~~~~~~~~~~~~~ */

















/* ~~~~~~~~~~~~~~~~~~~~GLOBAL CLASS~~~~~~~~~~~~~~~~~~~~ */
.title{
    border-top: 2px solid black;
    border-radius: 3rem;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-size: 4rem;
    text-align: center;
}

.set-sticky-bottom{
    padding-top: 15rem;
    padding-bottom: 3rem;
    position: sticky;
    bottom: 0;
    z-index: -1;
}

.transparent-color{
    color: transparent;
}
/* ~~~~~~~~~~~~~~~~~~~~GLOBAL CLASS~~~~~~~~~~~~~~~~~~~~ */



body {
    background-color: var(--primary);
    font-family: 'Montserrat', sans-serif;
}

.container{
    width: 100%;
}












/* ~~~~~~~~~~~~~~~~~~~~HEADER~~~~~~~~~~~~~~~~~~~~ */
header{
    padding: 1rem 4rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.logo{
    cursor: pointer;
}
nav {
    display: flex;
    align-items: center;
}

nav ul{
    display: flex;
    column-gap: 1.75rem;
}

.content1{
    position: relative;
}


.content1-bg{
    width: 100%;
    height: 600px;
}

.desc-wrap{
    position: absolute;
    right: 2%;
    top:25%;
}

.desc{
    margin-bottom: 1rem;
}

.find-store-btn{
    border: 0.5px solid rgb(112, 107, 107);
    border-radius: 12px;
    padding: 0.75rem 1.25rem;
    background-color: rgb(214 157 33);
    font-weight: 600;
    color: black;
    cursor: pointer;
    display: flex;
    column-gap: 0.2rem;
}

.find-store-btn:hover{
    background-color: rgb(230, 160, 50);
    box-shadow: 0px 0px 3px gray;
}


















/* ~~~~~~~~~~~~~~~~~~~~CONTENT 1~~~~~~~~~~~~~~~~~~~~ */
.content1-bg-wrap{
    display: flex;
    justify-content: center;
}

.content1-bg{
    max-width: 1400px;
}







/* ~~~~~~~~~~~~~~~~~~~~CONTENT2~~~~~~~~~~~~~~~~~~~~ */
.content2{
    margin: 2rem 1rem;
    border-radius: 4.5rem;
}























/* ~~~~~~~~~~~~~~~~~~~~CONTENT2 SECTION 1~~~~~~~~~~~~~~~~~~~~ */
.section1-wrap{
    border-top-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem;
    background-color: var(--content2);
    position: relative;
    z-index: -99;
}

.section1-content{
    padding: 3rem 6rem;
    border-radius: 4.5rem;
    background-color: var(--content2-per-section);
    box-shadow: 0px 2px 15px rgb(110, 105, 105);

    display: grid;
    grid-template-columns: repeat(3,1fr);

    column-gap: 4rem;
}

.section1-title{
    margin-bottom: 3rem;
    grid-column: 1/4;
}

.section1-content code{
    color: rgb(85, 85, 85);
    display: flex;
    justify-content: center;
    column-gap: 0.25rem;
}

.section1-content .img-wrap {
    display: flex;
    justify-content: center;
}

.section1-content figcaption{
    margin-top: 0.5rem;
}

.section1-content figcaption > p{
    text-align: justify;
    text-indent: 48px;
}

.section1-content img{
    width: 100%;
}













/* ~~~~~~~~~~~~~~~~~~~~CONTENT2 SECTION 2~~~~~~~~~~~~~~~~~~~~ */

.section2-wrap{
    background-color: var(--content2);
    position: relative;
    z-index: -98;
}

.section2-content{
    padding: 3rem 6rem;
    border-radius: 4.5rem;

    background-color: var(--content2-per-section);
    box-shadow: 0px 2px 15px rgb(110, 105, 105);
    display: grid;
    grid-template-rows: repeat(3,1fr);
    row-gap: 2rem;
}

.section2-content > figure{
    display: flex;
    column-gap: 4rem;
}

.section2-content > figure:nth-child(even){
    flex-direction: row-reverse;
}

.section2-content > figure img {
    width: 30%;
}
















/* ~~~~~~~~~~~~~~~~~~~~CONTENT2 SECTION 3~~~~~~~~~~~~~~~~~~~~ */
.section3-wrap{
    border-bottom-left-radius: 4.5rem;
    border-bottom-right-radius: 4.5rem;
    background-color: var(--content2);
}

.section3-content{
    box-shadow: 0px 2px 15px rgb(110, 105, 105);
    padding: 3rem 2rem;
    border-radius: 4.5rem;
    background-color: var(--content2-per-section);
    display: grid;
    grid-template-columns: repeat(3,minmax(350px,1fr));
    column-gap: 2rem;
}

.section3-content > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section3-content .kohi-pack{
    border: 4px solid #e0e0e0;
    border-radius: 15px;
}

.section3-content .product-desc-wrap{
    margin-top: 0.75rem;
}

.section3-content .product-desc-btn{
    padding: 0;
    border: 0;
    background-color: inherit;
    font-size: 1.25rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
}















/* ~~~~~~~~~~~~~~~~~~~~footer~~~~~~~~~~~~~~~~~~~~ */

footer{
    background-color: red;
    width: 100%;
    height: 500px;
}

















/* ~~~~~~~~~~~~~~~~~~~~responsive~~~~~~~~~~~~~~~~~~~~ */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
    
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

 }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

 }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    .container{
        width: 1320px;
    }
}

