@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap');






/* ~~~~~~~~~~~~~~~~~~~~RESET~~~~~~~~~~~~~~~~~~~~ */
:root{
    font-size: 16px;
    --primary: #F4F4F4;
    --content2: #f9faff;
    --content2-per-section: rgb(236 236 236);
}

*,*::after,*::before{
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

body,ul,h1,h2,h3,h4,h5,h6,p,figure{
    margin: 0;
    padding: 0;
    border: 0;
}
/* ~~~~~~~~~~~~~~~~~~~~RESET~~~~~~~~~~~~~~~~~~~~ */

















/* ~~~~~~~~~~~~~~~~~~~~GLOBAL CLASS~~~~~~~~~~~~~~~~~~~~ */
.title{
    border-top: 2px solid black;
    border-radius: 3rem;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-size: 4rem;
    text-align: center;
}

.set-sticky-bottom{
    padding-top: 15rem;
    padding-bottom: 3rem;
    position: sticky;
    bottom: 0;
    z-index: -1;
}

.transparent-color{ color: transparent !important; }

.hidden{ display: none !important; }

.show{ display: block !important; }

.show-flex{ display: flex !important; }

/* ~~~~~~~~~~~~~~~~~~~~GLOBAL CLASS~~~~~~~~~~~~~~~~~~~~ */






body {
    background-color: var(--primary);
    font-family: 'Montserrat', sans-serif;
}

.container{
    width: 100%;
}












/* ~~~~~~~~~~~~~~~~~~~~HEADER~~~~~~~~~~~~~~~~~~~~ */
header{
    padding: 1rem 4rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.logo{
    cursor: pointer;
}

header nav {
    display: flex;
    align-items: center;
}

header nav ul{
    position: relative;
    display: flex;
    column-gap: 1.75rem;
}

header nav ul li:hover{
    cursor: pointer;
}

header nav ul li:active{
    transform: scale(0.9);
    transition-duration: 50ms;
}

.algo-menu-line{
    background-color: black;
    display: none;
    height: 2px;
  
    transition: all 750ms ease-out;

    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }


.find-store-btn{
    border: 0.5px solid rgb(112, 107, 107);
    border-radius: 12px;
    padding: 0.75rem 1.25rem;
    background-color: rgb(214 157 33);
    font-weight: 600;
    color: black;
    cursor: pointer;
    display: flex;
    column-gap: 0.2rem;
}

.find-store-btn:hover{
    background-color: rgb(230, 160, 50);
    box-shadow: 0px 0px 3px gray;
}


















/* ~~~~~~~~~~~~~~~~~~~~CONTENT 1~~~~~~~~~~~~~~~~~~~~ */

.content1{
    position: relative;
}


.content1-bg-wrap{
    display: flex;
    justify-content: center;
}

.content1-bg{
    width: 100%;
    max-width: 1400px;
}

.content1 .desc-wrap > *{
    width: fit-content;
    height: fit-content;
}


.content1-title,
.content1-title-mobile{ 
    border: 0;
}

.content1-title-mobile{
    display: none;
    margin-top: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.desc-wrap{
    position: absolute;
    top: 25%;
    left:55%;
}

.desc{
    margin-bottom: 1rem;
}

aside .info-container{
    margin: 1rem 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    height: 50px;
    background-color: #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside .info-container:hover{
    cursor: pointer;
    background-color: #ececec;
}

.about-me{
    display: flex;
    justify-content: center;
}


.about-me > div{
    border: 1px rgb(182, 182, 182) solid;
    border-radius: 20px;
    width: 40%;
    background-color: #F0EBE3;
}
.about-me > div .desc{
    padding: 1.5rem 1rem;
}

.about-me > div .desc .subtitle{
    color: #6c757d;
}

.about-me > div .desc p{
    margin-top: 0.75rem;
}

.about-me > div .profile-wrap{
    padding: 1rem 0;
    border-radius: 20px 20px 0 0;
    background-color: #E2DCC8;
    display: flex;
    justify-content: center;
}

.about-me > div .profile-wrap > img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}














/* ~~~~~~~~~~~~~~~~~~~~CONTENT2 WRAP~~~~~~~~~~~~~~~~~~~~ */
.content2-wrap{
    margin: 2rem 1rem;
    border-radius: 4.5rem;
    display: grid;
    grid-template-rows: repeat(3,auto);
}

.content2-wrap > section {
    background-color: var(--content2);
}

.content2-wrap section > .content{
    padding: 3rem 6rem;
    border-radius: 4.5rem;
    background-color: var(--content2-per-section);
    box-shadow: 0px 2px 15px rgb(110, 105, 105);
}



















/* ~~~~~~~~~~~~~~~~~~~~CONTENT2 SECTION 1~~~~~~~~~~~~~~~~~~~~ */
.section1-wrap{
    border-top-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem;
    position: relative;
}
.section1-title{
    margin-bottom: 3rem;
    grid-column: 1/4;
}

.section1-content{
    width: 100%;
    height: 500px;
    position: absolute;
    z-index: 1;
    display: flex;
    column-gap: 4rem;
}

.section1-content code{
    color: rgb(85, 85, 85);
    display: flex;
    justify-content: center;
    column-gap: 0.25rem;
}

.section1-content .thumbnail-container{
    display: flex;
    justify-content: center;
}

.section1-content .thumbnail{
    border:1px solid #147412;
    border-radius: 2px;
    background-size:cover;
    background-position: center center;
    box-shadow: 0px 0px 5px 1px #072906;
    width: 300px;
    height: 400px;
}

.section1-content .slide{
    position: absolute;
    display: flex;
}


.section1-content .slide1 .thumbnail1{
    background-image: url("assets/slide/1/ver1.jpg");
}
.section1-content .slide1 .thumbnail2{
    background-image: url("assets/slide/1/ver2.jpg");
}


.section1-content .slide2 .thumbnail1{
    background-image: url("assets/slide/2/ver1.jpg");
}
.section1-content .slide2 .thumbnail2{
    background-image: url("assets/slide/2/ver2.jpg");
}


.section1-content .slide3 .thumbnail1{
    background-image: url("assets/slide/3/ver1.jpg");
}
.section1-content .slide3 .thumbnail2{
    background-image: url("assets/slide/3/ver2.jpg");
}


.section1-content figcaption{
    margin-top: 0.5rem;
}

.section1-content figcaption > p{
    text-align: justify;
    text-indent: 48px;
}

.section1-content .btn{
    padding: 0.5rem;
    border: 0;
    border-radius: 50%;
    background-color: #CEE5D0;
    cursor: pointer;
    position: absolute;
    z-index: 999;
}

.section1-content .btn:focus{
    border: 10px solid salmon;
}

.section1-content .btn > svg{
    width: 2rem;
    height: 2rem;
}










/* ~~~~~~~~~~~~~~~~~~~~CONTENT2 SECTION 2~~~~~~~~~~~~~~~~~~~~ */
.section2-wrap{
    position: relative;
}

.section2-content{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    row-gap: 2rem;
}

.section2-content > figure{
    display: flex;
    column-gap: 3rem;
}

.section2-content > figure:nth-child(even){
    flex-direction: row-reverse;
}

.section2-content > figure img {
    width: 40%;
}

.section2-content > figure > .grinder {
    width: 40%;
    background-image: url("assets/grinder-sm.jpg");
    background-size:cover;
    background-position: center center;
}














/* ~~~~~~~~~~~~~~~~~~~~CONTENT2 SECTION 3~~~~~~~~~~~~~~~~~~~~ */
.section3-wrap{
    border-bottom-left-radius: 4.5rem;
    border-bottom-right-radius: 4.5rem;
}

.section3-content{
    display: flex;
}

.section3-content > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section3-content .kohi-pack{
    border: 4px solid #e0e0e0;
    border-radius: 15px;
}

.section3-content .product-desc-wrap{
    margin-top: 0.75rem;
}

.section3-content .product-desc-btn{
    padding: 0;
    border: 0;
    background-color: inherit;
    font-size: 1.25rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
}





/*  */
.brewing-tools{
    width: 100%;
    height: 100px;
    background-color: rebeccapurple;
}









/* ~~~~~~~~~~~~~~~~~~~~footer~~~~~~~~~~~~~~~~~~~~ */

footer{
    color: #E7F6F2;
    background-color: #2C3333;
    width: 100%;
    height: 200px;
}

footer a{
    color: #E7F6F2;
}




























/* ~~~~~~~~~~~~~~~~~~~~BURGERRRRRRRRRRRRRRRRRRRRRR~~~~~~~~~~~~~~~~~~~~ */
/* reference: https://github.com/patrickchennn/hamburg-menu */
.btn1 {
    border: 0;
    background-color: inherit;
    width: 2em;
    height: 2.1em;
    position: relative;
    transition-duration: 500ms;
    display: none;
  }
  .btn1 .icon-left {
    background-color: #212121;
    width: 1em;
    height: 0.3em;
    position: absolute;
    display: block;
    transition-duration: 0.5s;
    left: 0;
  }
  .btn1 .icon-left, .btn1 .icon-left::before, .btn1 .icon-left::after {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  .btn1 .icon-left::before, .btn1 .icon-left::after {
    background-color: #212121;
    width: 1em;
    height: 0.3em;
    display: block;
    position: absolute;
    content: "";
    transition-duration: 0.5s;
    left: 0;
  }
  .btn1 .icon-left::before {
    bottom: 10px;
  }
  .btn1 .icon-left::after {
    top: 10px;
  }
  .btn1 .icon-right {
    background-color: #212121;
    width: 1em;
    height: 0.3em;
    position: absolute;
    display: block;
    transition-duration: 0.5s;
    right: 0;
  }
  .btn1 .icon-right, .btn1 .icon-right::before, .btn1 .icon-right::after {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  .btn1 .icon-right::before, .btn1 .icon-right::after {
    background-color: #212121;
    width: 1em;
    height: 0.3em;
    display: block;
    position: absolute;
    content: "";
    transition-duration: 0.5s;
    right: 0;
  }
  .btn1 .icon-right::before {
    bottom: 10px;
  }
  .btn1 .icon-right::after {
    top: 10px;
  }
  .btn1.open .icon-left, .btn1.open .icon-right {
    background-color: transparent;
    transition: background-color 500ms;
  }
  .btn1.open .icon-left::before {
    transform: rotateZ(45deg) translate(1px, 4px) scale(1.1);
    width: 1.3em;
    transition: width 1s, transform 350ms;
  }
  .btn1.open .icon-left::after {
    transform: rotateZ(-45deg) translate(1px, -4px) scale(1.1);
    width: 1.3em;
    transition: width 1s, transform 350ms;
  }
  .btn1.open .icon-right::before {
    transform: rotateZ(-45deg) translate(-1px, 4px) scale(1.1);
    width: 1.3em;
    transition: width 1s, transform 350ms;
  }
  .btn1.open .icon-right::after {
    transform: rotateZ(45deg) translate(-1px, -4px) scale(1.1);
    width: 1.3em;
    transition: width 1s, transform 350ms;
  }
  .btn1:hover {
    cursor: pointer;
  }
























/* ~~~~~~~~~~~~~~~~~~~~responsive~~~~~~~~~~~~~~~~~~~~ */
/* breakpoint reference: https://getbootstrap.com/docs/5.2/layout/breakpoints/ *

/* XX-Large devices (larger desktops, >=1400px and up) */
@media (min-width: 1400px) { 
    .container{
        width: 1320px;
    }
}

/* X-Large devices (large desktops, <=1200px) */
@media (max-width: 1200px) { 
    .title{
        font-size: 3.5rem;
    }
    .section1-content .thumbnail{
        width: 250px;
        height: 350px;
    }
    .section3-content .kohi-pack{
        width: 95%;
    }
}

/* Large devices (desktops, <=992px) */
@media (max-width: 992px) { 
    .title{
        font-size: 2.5rem;
    }
    .section1-content .thumbnail{
        width: 150px;
        height: 250px;
    }
}

/* Medium devices (tablets, <=768px) */
@media (max-width: 768px) {
    :root{
        font-size: 14px;
    }
    header{
        padding: 0.75rem 1rem;
    }

    header .logo{
        width: 27%;
    }
    header nav ul{
        column-gap: 1rem;
    }

    .set-sticky-bottom{
        padding-bottom: 1rem;
        font-size: 2rem;
    }

    .content1 .find-store-btn{
        border-radius: 6px;
        padding: 0.25rem 0.5rem;
    }
    .desc-wrap{
        left: 57%;
    }

    .section1-content{
        flex-wrap: wrap;
        row-gap: 2rem;
    }

    .section1-content .thumbnail{
        width: 70%;
        height: 150px;
    }

    .section1-content .thumbnail1{
        background-image: url("assets/plant1-horizontal.jpg");
    }
    
    .section1-content .thumbnail2{
        background-image: url("assets/plant2-horizontal.jpg");
    }
    
    .section1-content .thumbnail3{
        background-image: url("assets/plant3-horizontal.jpg");
    }
    .section2-content{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        column-gap: 1rem;
    }

    .section2-content figure{
        display: block;
    }

    .section2-content figure > img{
        width: 100%;
    }

    .section2-content > figure:last-child{
        grid-column: 1/3;
    }
    .section2-content > figure > .grinder {
        width: 100%;
        height: 200px;
        background-image: url("assets/grinder-lg.jpg");
        background-size:cover;
        background-position: center center;
    }

    .section3-content .product-desc-btn{
        font-size: 1rem;
    }
    .section3-content .kohi-pack{
        width: 90%;
    }
    .bi-caret-up-fill,.bi-caret-down-fill{
        width: 14px;
        height: 14px;
    }
}

/* Small devices (landscape phones, <=576px and down) */
@media (max-width: 576px) { 
    .btn1{
        display: block;
    }
    :root{
        font-size: 12px;
    }

    header{
        position: relative;
    }

    header nav{
        display: none;
    }
    header nav ul{
        background-color: black;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 100%;
        z-index: 100;
    }
    header nav ul li {
        padding: 1rem 2rem;
        border-radius: 3px;
        border: 1px solid gray;
        color: whitesmoke
    }
    
    .content1 .content1-title-mobile{
        display: block !important;
        font-size: 2rem !important;
    }
    aside .bi-info-circle{
        width: 16px;
    }
    .content1-title{
        display: none;
    }

    .content1 .find-store-btn{
        display: none;
    }


    .content2-wrap .content{
        padding: 3rem 2rem !important;
    }

    .section1-content .thumbnail{
        width: 90%;
        height: 100px;
    }


    .section3-content {
        flex-wrap: wrap;
        row-gap: 3rem;
    }
    .section3-content > div{
        align-items: center;
    }
    .section3-content .kohi-pack{
        width: 70%;
    }
    .bi-caret-up-fill,.bi-caret-down-fill{
        width: 12px;
        height: 12px;
    }
}
